* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}
.containerLogin {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 657px;
    background-image: url("../background.png");
    background-size: cover;
    padding-top: 10%;
}
/*Content left*/
.containerLogin .left-content {
    width: 490px;
    height: 496px;
    left: 210px;
    top: calc(50% - 496px/2);
}
.containerLogin .left-content p {
    width: 100%;
    color:#70FFE5;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.5em;
    
}
.containerLogin .left-content h1 {
    width: 100%;
    font-weight: 500;
    font-size: 64px;
    color: #FFFFFF;
    padding: 16px 0;
}
.containerLogin .left-content span {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
}
/*Content left*/

/*Content right*/
.containerLogin .right-content {
    position: relative;
    width: 40%;
    background-color: #fff;
    border-radius: 10px;
    height:330px;
}
.containerLogin .right-content h1 {
    text-align: center;
    padding: 16px 0px 16px 0px;
    border-bottom: 2px solid #ccc;
    /* background-color: #464340; */
}
.containerLogin .right-content form {
    padding: 0 10%;
    position: absolute;
    width: 100%;
    /* height: 100%; */
}
.txt_field {
    position: relative;
    margin: 30px 0px 5px 0px;
    border-bottom: 2px solid #ccc;
}
.txt_field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    outline: none;
}
.txt_field label {
    position: absolute;
    top: 50%;
    transform: translateY(-180%);
    left: 5px;
    font-size: 16px;
    pointer-events: none;
}
.txt_field input:focus {
    border-bottom: 1px solid #70FFE5;
}
.containerLogin .right-content .btn-login {
    width: 100%;
    height: 50px;
    text-align: center;
    border: 1px solid;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 32px;
}
.containerLogin .right-content .btn-login:hover {
    background-color: #70FFE5;
    border-color: aqua;
    transition: .5s;
}
.err {
    margin-top: 10px;
    color: red;
}
/*Content right*/